node_modules
.vscode
.idea
*.log
src/integration/reports
src/integration/errorShots
npm-debug.log
src/integration/bsOutput
src/integration/logs*
.DS_Store
chromeAutoProfile/
src/integration/performance/sitespeed-report/
src/integration/performance/downloads/
/sitespeed-result/
screenshots/*
package-lock\.json
compiled/
aws_bundle.zip
